.hero {
    background-color: rgb(77, 118, 219);
    justify-content: space-around;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    padding: 1%;

}

img {
    height: 450px;
}

footer  {
    background-color: rgb(77, 118, 219);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    padding: 1%;
    text-align: center;
}

.side-image {
    justify-content: space-around;
    height: auto;
    align-items: center;
    background-color: rgb(255, 255, 255);
   
}

section {
    display: flex;
}

div h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    color: darkblue
}

    
div .class-form-group {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin: 20px;

}
div .class-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin: 20px;

}

div .class-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin: 20px;

}


div .class-form-group {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

div .class-content textarea {
    width: 800px;
    height: 450px;
    padding: 3%;
    font-size: 18px;
    border-style: ridge;
}

#userName{
    width: 500px;
    padding: 3%;
    font-size: 18px;
    border-style: ridge;
}

#title{
    width: 500px;
    padding: 3%;
    font-size: 18px;
    border-style: ridge;
}

#content{
    width: 800px;
    height: 450px;
    padding: 3%;
    font-size: 18px;
    border-style: ridge;
    }


button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#toggle-button {
    background: darkgreen;
 
}

#submit-btn {
    background: darkgreen;
}