/* 
section.hero {
    background-color: rgb(77, 118, 219);
    color: darkblue;

}

.footer {
    background-color: rgb(77, 118, 219);
    color: darkblue;
}

section {
    background-color: rgb(77, 118, 219);
    color: darkblue;
}

div h1 {
    color: darkblue;
}

#toggle-button {
    background-color: darkgreen
}


div #submit-btn {
    background-color: darkgreen
}; */