:root[data-theme="light"] {
    --background-color: rgb(77, 118, 219);
    --text-color: darkblue;
    --button-background-color: darkgreen;
    --side-image-background-color: rgb(255, 255, 255);
    --text-color-alt: darkblue;
}

:root[data-theme="dark"] {
    --background-color: rgb(4, 15, 44);
    --text-color: white;
    --button-background-color: darkgreen;
    --side-image-background-color: rgb(27, 22, 76);
    --text-color-alt: white;
}

.hero {
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    justify-content: space-around;
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    padding: 1%;
}

h2 {
    padding-left: 15px;
    color: darkblue;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#recent-posts-container {
    padding: 30px;
    margin: 25px;
    border-style: double;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    height: 450px;
    background-color: var(--side-image-background-color);
}

footer {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    padding: 1%;
    text-align: center;
}

.side-image {
    justify-content: space-around;
    height: auto;
    align-items: center;
    background-color: var(--side-image-background-color);
}

section {
    display: flex;
}

div h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    color: var(--text-color);
}

div .class-form-group,
div .class-title,
div .class-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin: 20px;
    
}

div .post{
    color: var(--text-color-alt);
}

div .class-content textarea {
    width: 600px;
    height: 320px;
    padding: 3%;
    font-size: 18px;
    border-style: ridge;
    
}

#userName {
    width: 500px;
    padding: 3%;
    font-size: 18px;
    border-style: ridge;
    
}


#title {
    width: 500px;
    padding: 3%;
    font-size: 18px;
    border-style: ridge;
}

#content {
    width: 800px;
    height: 450px;
    padding: 3%;
    font-size: 18px;
    border-style: ridge;
}

.label {
    color: var(--text-color-alt);
        
}


#submit-btn,
button {
    background: var(--button-background-color);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#back-btn {
    display: flex;
    justify-content: right;
}

#back-to-main-page {
   
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
